.App {
  text-align: center;
}
.registation {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  height: 220px;
  justify-content: space-between;
}

.registration__text {
  font-size: 30px;
  font-weight: bold;
  color: #e94839;
}

.registration__input-item {
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
}

.registration__button {
  background-color: #e94839;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width:300px;
  height:30px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} 

.authorization__text {
  font-size: 30px;
  font-weight: bold;
  color: #e94839;
}

.authorization__input-item {
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
}
.authorization__button {
  background-color: #e94839;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width:300px;
  height:30px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.authorization {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  height: 150px;
  justify-content: space-between;
}

.difficulty {
  margin: 0 auto;
  margin-top: 200px ;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.difficulty__select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.difficulty__select-select {
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 2px #e94839 solid;
  color: #939393;
}

.difficulty__button {
  background-color: #e94839;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width:120px;
  height:60px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.difficulty__select-option {
  background-color: white;
  color: black;
}